body{
  padding-top: 150px; 
}
input::-ms-clear {
    display: none;
}
/*Search Bar*/
#search-bar-div{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  border: 1px solid #ccc;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #fff;
  color: #757575;
  cursor: default;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 50px;
}
#search-bar-div:hover{
  border: 1px solid #ddd;
  box-shadow: 0 3px 8px rgba(0,0,0,0.12), 0 0 1px rgba(0,0,0,0.08);
}
#search-bar{
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}
#search-bar:focus{
  box-shadow: none;
}
#search-title{
  font-weight: 100;
  color: #757575;
  margin-bottom: 0px;
}

/*Results*/
.result-container{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #fff;
  color: #757575;
  cursor: default;
  font-size: 14px;
  font-weight: 100;
  padding: 30px;
}
.results-title{
  font-size: 25px;
  font-weight: 300;
  margin-top: -25px;
}
.results-pdf{
  background-color: #eee;
  height: 200px;
  border-radius: 2px;
}
#help-btn-div{
  bottom: 90px;
}
#help-btn-grp{
  margin-bottom: -8px;
}
#help-btn-grp li{
  margin-bottom: 10px;
}

/*Tutorial*/
#tutorial-div{
  background: url(../images/iefilter.jpg) no-repeat -999px -999px;
  background-color: rgba(0,0,0,0.65); /*dim the background*/
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#44000000', endColorstr='#44000000'); /* IE */
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  display: none;
  opacity: 0;
}
#tut1container{
  background-color: white;
  border-radius: 2px;
}
#tut1title{
  font-size: 50px;
  position: absolute;
  margin-top: -75px;
  font-weight: 100;
  color: white;
}
#tut1explain1{
  margin-bottom: -50px;
}
#tut1explain2{
  margin-bottom: -100px;
}
#tut1explain3{
  margin-bottom: -150px;
}
#tut1explain4{
  margin-bottom: -200px;
}
#tut1explain5{
  margin-bottom: -250px;
}
.tut1explain{
  font-size: 30px;
  position: absolute;
  bottom: 0;
  font-weight: 100;
  color: white;
  right: 0;
  opacity: 0;
}